body{
    text-align: center;
    padding: 0px;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

#header{
    background-color: darkgray;
    width: 100%;
    font-size: 18px;
    padding: 8px;
}

#content{
    height: 300px;
}

#footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 14px;
}