body{
    text-align: center;
    padding: 0px;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    min-width: 550px;
    background-color: #f0f0f0
}

#container {
    display: grid;
    margin:0 auto;
    width:100%;
    background:#f0f0f0;
    height:auto;
}

#header {
    padding:1em;
    background-color:#03A9F4;
    color: white;
    /* border-bottom:6px double gray; */
}
    #header p {
        font-style:italic;
        font-size:1.1em;
        margin:0;
        padding-bottom: 8px;
    }

#navbar{
    padding: 12px;
    background-color: #0288D1;
}
    #navbar a{
        padding-left: 8px;
        padding-right: 8px;
        color: #B3E5FC;
        font-size: 14px;
        text-decoration: none;
    }

#content {
    padding:1em 1em 5em;
    height: auto;
}
    #content p {
        padding:0 1em;
    }

#main{
    float: left;
    width: 75%;
    height: 100%;
    background-color: #f0f0f0;

}

#post{
    border-bottom: 2px solid #e0e0e0;
    height: auto;;
    text-align: justify;
    padding: 32px 32px 64px 64px;
    border-left: 2px  solid #e0e0e0;
    border-right: 2px  solid #e0e0e0;
    overflow-wrap: break-word;
}

    #post button{
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        float: right;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
    }

    #post button:hover{
        opacity: 1;
    }

    #post p,a{
        word-wrap: break-word;
        overflow: hidden;
        padding-bottom: 8px;
    }

#sidebar{
    float: left;
    width: 24%;
    padding-top: 16px;
    height: 100%;
    background-color: #f0f0f0;
    font-size: 16px;
    color: black;
}

    #sidebar a{
        color: black;
        font-size: 16px;
    }

    #sidebar h4{
        background-color: #03A9F4;
        color: white;
        padding: 16px 0 16px 0;
        margin: 16px 32px 16px 32px;
    }

#footer {
    bottom: 0;
    width: 100%;
    background-color:#03A9F4;
    padding-top: 8px;
    padding-bottom: 16px;
    /* border-top:6px double gray; */
}
    #footer p,a {
        font-size: 14px;
        color: white;
    }