body{
    text-align: center;
    padding: 0px;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/* #header{
    background-color:#616161;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    color: white
}

#content{
    background-color: black;
    height: 200px;
}

#footer{
    width: 100%;
    background-color: #F5F5F5;
    color: black;
    padding: 8px;
    font-size: 14px;
} */

div#container {
    position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */
    width:100%;
    background:#f0f0f0;

    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
}

div#header {
    padding:1em;
    background-color:#212121;
    color: white;
    /* border-bottom:6px double gray; */
}
    div#header p {
        font-style:italic;
        font-size:1.1em;
        margin:0;
        padding-bottom: 8px;
    }

div#content {
    padding:1em 1em 5em; /* bottom padding for footer */
}
    div#content p {
        /* text-align:justify; */
        padding:0 1em;
    }

div#footer {
    position:absolute;
    width:100%;
    bottom:0; /* stick to bottom */
    background:#ddd;
    /* border-top:6px double gray; */
}
    div#footer p {
        font-size: 14px;
    }